<ion-content [fullscreen]="true">
  
  <div class="header" >
    <h1 class="title" >Recupera tu contraseña</h1>
  </div>

  <form  >
    <div  >
      <ion-item>
        <ion-input [(ngModel)]="email" class="input" placeholder="Correo " > </ion-input>
        <ion-icon name="person-outline" > </ion-icon>        
      </ion-item>    
      <div class="forgot-Password" >
        <p>¿Eres nuevo? <a routerLink="/register" >Registrate</a> </p>
      </div>
      <div class="signup-link" >
        <p>¿ya estas resgitrado? <a routerLink="/login" >ingresa</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" >
      <ion-fab-button  >
        <ion-icon  name="chevron-forward" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </form>
</ion-content>
