.input{
    font-size: 300;
    --background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 16px;
    border: 2px;
    height: 50px;
    width: 300px;
    margin: auto;
    
}
ion-item{
    background-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 2px;
    height: 50px;
    width: 300px;
    margin: auto;
    
    
}
.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .sub-title{
        color: gray;
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }
}

.signup-link{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: center;
    width: 80%;
    right: 0;


    p{
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        color: aliceblue;
    }
    a{
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        color: rgb(205, 235, 10);
    }
}
.forgot-Password{
    justify-content: flex-end;
    margin-left: 42%;
    a{
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        color: rgb(205, 235, 10);
    }
    p{
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        color: aliceblue;
    }

}
ion-content {
    --background: url('../../../../assets/fondo/fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
  }
h1{
    color: aliceblue;
}
ion-text{
    margin: 3rem;
    color: crimson;
    font-size: 1rem;
}