<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="Atras" defauLtRef="/"  ></ion-back-button>
      <ion-title>ERROR 404</ion-title>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

      <ion-card>
        <img src="https://dinahosting.com/blog/upload/2020/07/eror-404.jpg" alt="">
        <ion-card-header>
          
          <ion-card-title>Ooops!</ion-card-title>
          <ion-card-subtitle>Esta paguina se encuentra temporalemnte fuera de servicio</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          El enlace que conduce a esta página se denomina "dead link" (enlace muerto) o "broken link" (enlace defectuoso).
        </ion-card-content>
      </ion-card>
    
</ion-content>
